.mainPart .hello_wrapper{
  position: relative;
  flex-basis: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  justify-content: space-between;
}

.mainPart .hello_wrapper .introduce_wrapper{
  top: 5vw;
  left: 20vw;
  width: 70vw;
  max-width: 640px;
  height: 20vw;
  max-height: 200px;
  transition: 1.5s;
}

.mainPart .hello_wrapper .introduce_wrapper .text_wrapper{
  width: 68%;
}

.mainPart .hello_wrapper .introduce_wrapper .text_wrapper .text{
  margin-top: 16px;
}

.mainPart .hello_wrapper .introduce_wrapper .repo_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: center;
  align-self: flex-end;
}

.mainPart .hello_wrapper .introduce_wrapper .repo_wrapper .repo_link{
  width: 25px;
  height: 25px;
  margin: 0 8px;
}

.mainPart .hello_wrapper .introduce_wrapper.notViewed{
  opacity: 0;
  transform: translateY(-50px);
}

.mainPart .hello_wrapper .photo_wrapper{
  width: 30vw;
  min-width: 300px;
  height: 40vw;
  min-height: 400px;
  border-radius: 5px;
  background-image: url('../images/man_main.jpeg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mainPart .hello_wrapper .photo_wrapper .myPhoto{
  position: absolute;
  top: -70px;
  left: -120px;
  width: 250px;
}

.mainPart .hello_wrapper .photo_wrapper .myPhoto::after{
  content: '';
  position: relative;
  background-color: #000;
  width: 100px;
  height: 100px;
}

.mainPart .hello_wrapper .files_wrapper{
  align-self: flex-end;
  margin-right: 200px;
  text-align: right;
  position: relative;
}

.mainPart .hello_wrapper .files_wrapper .text{  
  margin: 10px 0;
}

.mainPart .hello_wrapper .files_wrapper .buttons_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  justify-content: space-between;
}

.mainPart .hello_wrapper .files_wrapper .buttons_wrapper .fileButton{
  color: white;
  width: 130px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.mainPart .hello_wrapper .files_wrapper .buttons_wrapper .fileButton:hover{
  font-weight: 500;
}

.mainPart .hello_wrapper .files_wrapper .thirdCircle{
  position: absolute;
  bottom: -250px;
  left: 0;
  transform: scale(.5);
  z-index: -1;
}

.mainPart .aboutMe_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-direction: column;
  height: 400px;
  margin-top: 80px;
  width: 40%;
  position: relative;
}

.mainPart .aboutMe_wrapper .bgCircle{
  position: absolute;
  height: 250px;
  width: 250px;
  right: -80px;
  top: -150px;
  z-index: -1;
}

.mainPart .aboutMe_wrapper .text{
  margin: 20px 0;
}

.mainPart .aboutMe_wrapper .interestsList{
  list-style: inside;
  color: var(--textColor);
}

.mainPart .aboutMe_wrapper .course_wrapper {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: center;
  align-self: flex-end;
  margin-top: 5px;
}

.mainPart .aboutMe_wrapper .course_wrapper .text{
  font-weight: 500;
  margin-right: 15px;
}

.mainPart .aboutMe_wrapper .course_wrapper .logo{
  width: 110px;
  height: 40px;
  border-radius: 2px;
}