.mainPart .blog_wrapper{
  position: relative;
  max-width: 100vw;
}

.mainPart .blog_wrapper .bgImg{
position: absolute;
top:-50px;
left: -350px;
z-index: -1;
transform: scale(.5);
}

.mainPart .blog_wrapper .post_wrapper{
  margin-top: 40px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  transition: 1.5s;
}

.mainPart .blog_wrapper .post_wrapper .img_wrapper .postImg{
  width: 300px;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px lightgray;
}

.mainPart .blog_wrapper .post_wrapper .text_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mainPart .blog_wrapper .post_wrapper .text_wrapper .desc_wrapper{
  max-width: 90%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-direction: column;
}

.mainPart .blog_wrapper .post_wrapper .text_wrapper .data_wrapper .dataText{
  color: var(--secondaryHeadingColor);
  font-size: 15px;
}

.mainPart .blog_wrapper .post_wrapper .text_wrapper .desc_wrapper .readMore{
  align-self: center;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: center;
  color: var(--secondaryHeadingColor);
  background-color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  font-size: 15px;
}

.mainPart .blog_wrapper .post_wrapper .text_wrapper .desc_wrapper .readMore .readMore_img{
  height: 20px;
  margin-left: 5px;
  filter: invert(82%) sepia(4%) saturate(3310%) hue-rotate(337deg) brightness(98%) contrast(79%);
}

.mainPart .blog_wrapper.notViewed .post_wrapper:nth-child(odd){
transform: translateX(-100vw);
}

.mainPart .blog_wrapper.notViewed .post_wrapper:nth-child(even){
  transform: translateX(100vw);
  }