.mainHeading{
  color: var(--mainHeadingColor);
  font-weight: 400;
}

.mainHeading::before{
  content: "//";
}

.secondaryHeading{
  color: var(--secondaryHeadingColor);
  font-weight: 400;
}

.mainHeading, .secondaryHeading{
  font-size: 25px;
}

.text{
  color: var(--textColor);
}

.element{
  background-image: var(--elementsBgColor);
}

.outOfLayoutBox{
  position: absolute;
  background-color: rgba(255, 255, 255, .6);
  padding: 15px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px gray;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
}

.mainPart{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 35px 40px;
}