.footer{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  padding: 45px calc((100vw - 1300px)/2);
  background-image: var(--sectionBgColor);
  overflow: hidden;
}

.sider{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.footer .text {
  max-width: 30vw;
}

.footer .emailForm_wrapper {
  margin-top: 20px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: flex-end;
}

.footer .emailForm_wrapper .input{
  padding: 12px 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  margin-bottom: 16px;
  box-shadow: 2px 2px 2px gray
}

.footer .emailForm_wrapper .textarea{
  resize: none;
}

.footer .emailForm_wrapper .send{
  align-self: flex-end;
  margin-bottom: 18px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px gray;
  color: white;
  padding: 10px 0;
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
}

.footer .emailForm_wrapper .send:hover{
  font-weight: 500;
}

.footer .img_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: flex-end;
  flex-direction: column;
}

.footer .img_wrapper .img {
  width: 240px;
  align-self: flex-end;
  margin-right: 100px;
}

.footer .outOfLayoutBox{
  top: 100px;
  right: 50%;
}

.footer .outOfLayoutBox .contactIcon{
  height: 50px;
  width: 50px;
}

.footer .outOfLayoutBox .contactText{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-direction: column;
  align-self: center;
  margin-left: 20px;
}

.footer .text_wrapper{
  margin-right: 100px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-direction: column;
  align-items: flex-end;
}

.footer .text_wrapper .text .contact_link{
  text-decoration: none;
  color: var(--textColor);
}

.footer .bgCircle {
  position: absolute;
  top: -400px;
  left: -90px;
  transform: scale(.6);
}