.header{
  background-image: var(--headerBgColor);
  width: 100%;
  max-width: 100vw;
  padding: 0 calc((100vw - 1300px)/2);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  height: 80px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.header .logo_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: center;
  height: 100%;
  margin: 0 7vw 0 40px;
}

.header .logo_wrapper .logo_img{
  height: 50%;
}

.header .nav_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin: 0 5vw;
  width: 80vw;
}

.header .nav_wrapper .navLinks_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  align-items: center;
  display: -webkit-flex;
  width: 100%;
  padding: 5px 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px gray;
}

.header .nav_wrapper .nav_btn{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 29px;
  align-self: flex-end;
}

.header .nav_wrapper .nav_btn:hover{
  cursor: pointer;
}

.header .nav_wrapper .nav_btn .nav_bars{
  display: block;
  height: 6px;
  width: 32px;
  transition: .3s;
  background-color: #fff;
  border-radius: 1px;
}

.header .nav_wrapper .nav_bt .topBar,
.header .nav_wrapper .nav_bt .topBar{
  transform-origin: right;
}

.nav_inner{
  width: calc(100% / 8 * 6);
}

.nav_outside{
  border-left: 2px solid white;
  width: calc(100% / 8 * 2);
}

.header .nav_list_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: center;
  padding: 10px 0;
}

.header .nav_list{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header .nav_list .nav_item{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  width: calc(100% / 5);
  justify-content: center;
}

.header .nav_list .nav_item .navLink{
  color: white;
  max-width: 100%;
  text-align: center;
}

.header .nav_list .nav_item .navLink:hover{
  cursor: pointer;
  font-weight: 400;
  font-size: 1.1rem;
}

.header .nav_list_wrapper .nav_logo{
  height: 3vw;
  max-height: 30px;
  filter: drop-shadow(1px 1px 1px gray);
}