.mainPart .myWorks_wrapper{
  width: 100%;
  background-image: url("../images/koła_01.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-x: 100%;
  background-position-y: 80%;
}

.mainPart .myWorks_wrapper .myWorks_text_wrapper{
  width: 60%;
}

.mainPart .myWorks_wrapper .myWorks_text_wrapper .text{
  margin: 30px 0;
}

.mainPart .myWorks_wrapper .projects_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper{
  max-width: 30%;
  min-width: 246px;
  transition: 1.5s;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-4),
.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-2){
  margin-left: 10px;
  margin-right: 10px;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox{
  overflow: hidden;
  margin-bottom: 40px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px gray;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .projectImg{
  width: 90%;
  margin-top: 10px;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .linkBox{
  align-self: flex-end;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  margin: 10px 5% 15px 0;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .linkBox .projectLink{
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  z-index: 2;
  background-size: contain;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox:hover .linkBox .projectLink{
  filter: brightness(0) invert(1);
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .linkBox .projectLink.git{
  background-image: url("../images/github_icon.png");
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .linkBox .projectLink.site{
  background-image: url("../images/external_link_icon.png");
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox  .descBox{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0b595e0;
  padding: 15% 20%;
  color: white;
  transition: .4s;
  border-radius: 5px;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox:hover .descBox{
  top: 0;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox:hover .projectLink{
  color: #fff;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .descBox .projHeading{
  color: var(--mainHeadingColor);
  font-weight: 500;
  font-size: 24px;
}

.mainPart .myWorks_wrapper .projects_wrapper .project_wrapper .projectBox .descBox .projDesc{
margin-bottom: 10px;
font-size: 20px;
}

.mainPart .myWorks_wrapper .projects_wrapper.notViewed .project_wrapper:nth-child(3n-2){
  transform-origin: left;
  transform: rotateY(-90deg);
}

.mainPart .myWorks_wrapper .projects_wrapper.notViewed .project_wrapper:nth-child(6n-4){
  transform-origin: top;
  transform: rotateX(-90deg);
}

.mainPart .myWorks_wrapper .projects_wrapper.notViewed .project_wrapper:nth-child(3n){
  transform-origin: right;
  transform: rotateY(90deg);
}

.mainPart .myWorks_wrapper .projects_wrapper.notViewed .project_wrapper:nth-child(6n-1){
  transform-origin: bottom;
  transform: rotateX(90deg);
}