@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

body{
  overflow-x: hidden;
  width: 100vw;
}

ul{
  list-style: none;
}

button, input{
  outline: 0;
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}