@media(max-width:380px){
  .mainPart .hello_wrapper .photo_wrapper{
    min-width: 80vw;
    height: auto;
  }

  .mainPart .hello_wrapper .files_wrapper{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mainPart .hello_wrapper .files_wrapper .buttons_wrapper{
    flex-direction: column;
  }

  .mainPart .hello_wrapper .files_wrapper .buttons_wrapper .fileButton{
    margin: 10px auto;
    width: 70vw;
  }
}

@media(max-width:700px){
  .mainPart .blog_wrapper .post_wrapper{
    flex-direction: column;
    }

    .mainPart .blog_wrapper .post_wrapper .text_wrapper{
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    .mainPart .blog_wrapper .post_wrapper .img_wrapper .postImg{
      max-width: 80vw;
    }

    .mainPart .blog_wrapper .post_wrapper .text_wrapper .data_wrapper{
      margin-bottom: 10px;
    }
  
  .footer .outOfLayoutBox{
      display: none;
    }

  .footer .sider{
      margin: auto;
    }

  .footer .sider:nth-child(2){
      display: none;
    }

  .footer .emailForm_wrapper .send{
      margin: auto;
    }

  .footer{
      padding: 45px auto;
    }
    
  .sider{
      width: 80%;
    }

  .footer .text {
      max-width: 100%;
    }

  .footer .emailForm_wrapper .inputs_wrapper{
      margin: 12px auto  ;
      width: 90%;
    }

  .footer .emailForm_wrapper .input{
      width: 100%;
    }
}

@media(max-width:840px){
  .header .nav_wrapper .nav_btn{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  }
  
  .header .nav_wrapper .navLinks_wrapper{
    display: none;
  }

  .header .nav_wrapper:not(.show){
    width: 50px;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  .header .nav_wrapper{
    flex-direction: column-reverse;
  }
  
  .header .nav_wrapper.show .navLinks_wrapper{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: absolute;
    top: 60px;
    right: 20px;
    flex-direction: column;
    z-index: 10;
  }
  
  .header .nav_wrapper.show .navLinks_wrapper{
    width: 200px;
  }

  .header .nav_wrapper.show .navLinks_wrapper .nav_inner .nav_list{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
  }

  .header .nav_wrapper.show .navLinks_wrapper .nav_inner .nav_list .nav_item{
    width: 100%;
    margin: 5px auto;
    font-size: 16px;
  }

  .header .nav_wrapper.show .navLinks_wrapper .nav_inner .nav_list .nav_item .navLink:hover{
    font-size: 18px;
  }

  .nav_outside{
    border-top: 2px solid white;
    border-left: none;
    width: 100%
  }
}

@media (max-width:900px){
  body{
    font-size: 14px;
  }

  .mainHeading, .secondaryHeading{
    font-size: 20px;
  }

  .header .nav_list .nav_item .navLink:hover{
    font-size: .9rem;
  }

  .mainPart .hello_wrapper{
    flex-direction: column;
  }

  .mainPart .hello_wrapper .files_wrapper{
    align-self: center;
    margin-right: 0px;
  }

  .mainPart .hello_wrapper .introduce_wrapper{
    flex-direction: column;
    background-color: rgba(255, 255, 255, .8);
    height: auto;
    max-height: none;
  }

  .mainPart .aboutMe_wrapper{
    height: auto;
    width: 80%;
    margin: 80px auto 0;
  }

  .mainPart .skills_wrapper{
    height: auto;
    width: 80%;
    margin: 80px auto 0;
  }

  .mainPart .myWorks_wrapper .myWorks_text_wrapper{
    width: 90%;
  }

  .mainPart .myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-4),
  .mainPart .myWorks_wrapper .projects_wrapper .project_wrapper:nth-child(6n-2),
  .mainPart .myWorks_wrapper .projects_wrapper .project_wrapper{
    max-width: 45%;
    margin: auto;
  }

  .footer .emailForm_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .emailForm_wrapper .send{
    align-self: flex-start;
  }

  .footer .img_wrapper .img {
    margin-right: 10px;
  }

  .footer .text_wrapper {
    margin-right: 10px;
  }

  .footer .outOfLayoutBox{
    top: 10px;
    right: 35%;
  }
};