.mainPart .skills_wrapper{
  width: 40%;
  height: 400px;
  margin-top: 80px;
  padding: 10px 15px;
  box-shadow: 2px 2px 2px gray;
  position: relative;
}

.mainPart .skills_wrapper .text{
  margin: 15px 0;
}

.mainPart .skills_wrapper .skillBg {
  width: 100%;
  background-color: #ddd; 
  border-radius: 5px;
}

.mainPart .skills_wrapper .skillBg .skillBar {
  border-radius: 5px;
  text-align: right;
  padding-top: 7px; 
  padding-bottom: 7px;
  padding-right: 15px;
  color: white;
  margin: 10px 0;
  box-shadow: 2px 2px 3px gray;
  max-height: 33px;
}

.mainPart .skills_wrapper .skillBg .php {
  width: 100%;
}
  
.mainPart .skills_wrapper .skillBg .js {
  width: 90%;
}
  
.mainPart .skills_wrapper .skillBg .html {
  width: 90%;
}
  
.mainPart .skills_wrapper .skillBg .nodejs {
  width: 60%;
}
  
.mainPart .skills_wrapper .skillBg .css {
  width: 90%;
}
  
.mainPart .skills_wrapper .skillBg .go {
  width: 60%;
}

.mainPart .skills_wrapper .graph_wrapper .skillBg *{
  transition: 1.5s;
}

.mainPart .skills_wrapper .graph_wrapper.notViewed .skillBg *{
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
}

.mainPart .skills_wrapper .skillsCircle{
  position: absolute;
  height: 400px;
  width: 400px;
  right: -200px;
  top: 50px;
  z-index: -1;
}