.tools_wrapper{
  padding: 25px calc((100vw - 1300px)/2);
  position: relative;
  background-image: var(--sectionBgColor);
}

.tools_wrapper .toolsText_wrapper{
  margin-bottom: 20px;
  margin-left: 40px;
}
  
.tools_wrapper .toolsList_wrapper{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.tools_wrapper .toolsList_wrapper .toolBox{
  background-color: #fff;
  margin-top: 20px;
  margin-right: 20px;
  height: 12vw;
  min-height: 100px;
  max-height: 160px;
  width: 9.5vw;
  min-width: 80px;
  max-width: 130px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  transition: .8s;
}

.tools_wrapper .toolsList_wrapper .tool_wrapper{
  z-index: 1;
}

.tools_wrapper .toolsList_wrapper .tool_wrapper:hover .toolBox{
  transform: scale(1.1) rotateY(360deg);
}

.tools_wrapper .toolsList_wrapper .toolBox .toolLogo{
  height: 50%;
  max-width: 80%;
  margin: 10%;
}

.tools_wrapper .toolsList_wrapper .toolBox .text{
  font-size: 13px;
  text-align: center;
}

.tools_wrapper .bgImg{
  position: absolute;
  top: -55%;
  right: -5%;
  z-index: 0;
  transform: scale(.5);
}