:root{
  --headerBgColor: linear-gradient(to right, #d3d3d3, #bbbbbb);
  --elementsBgColor: linear-gradient(to right, #f6cfae, #e0b595);
  --sectionBgColor: linear-gradient(to right, #fbf1e8, #e9cdb7);
  --mainHeadingColor: #1c1206;
  --secondaryHeadingColor: #dfb38e;
  --textColor: #70675e
}